/*======================================
        Footer
======================================*/
.footer {
    @extend %clearfix;
    background: url('../images/bg_footer.jpg') repeat-x;
    height: 20px;
    background: #000;
    .copyright {
        text-align: center;
        color: $color-a;
    }
}
